.App{
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.books{
    display: flex;
    margin: 20px;
}
.book{
    flex:1;
    margin: 20px 20px;
    display:flex;
    flex-direction: column;
    gap :10px;
}
.delete{
 border: border;
 padding: 3px 2px;
 background-color: white;
 cursor: pointer;
 color: red;   
}
.update{
    border: border;
    padding: 3px 2px;
    background-color: white;
    cursor: pointer;
    color: green;   
   }
img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    background-color: aquamarine;
}